.THIS .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.THIS .paste-msg {
  position: relative;
}

.THIS .paste-msg p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.THIS .paste-msg p img {
    display : block;
    margin : auto;
}